<div class="flex flex-col h-screen">
  <header class="">
    <img src="assets/img/asuro.png"/>
  </header>
  <main class="flex-1 overflow-y-auto main">
    <section class="max-w-screen-xl mx-auto px-4">
      <app-autocomplete [formControl]="chipsControl"
                        [options]="list$ | async"
                        (onSelect)="onChipsChange($event)">

      </app-autocomplete>
      <p>
        AppComponent chips: {{ chips.join(', ') }}
      </p>
    </section>
  </main>
  <footer>
    <p>
      Author: Lukasz Paczos
    </p>
  </footer>
</div>


